  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
        <div id="yjMain">
            <div class="container">
              <header class="header header--section">
                <h2 class="text-middle">
                  <i class="map"></i>地図から探す
                </h2>
              </header>
              <div class="map">
                <img src="map.png" type="background_image" title="">
                <span>あああ
                </span>
              </div>
            </div>
          <div class="left_content">
            <h3><a href="nurseries/table"></a>保育園一覧(すべて表示)</h3>
              <ul>
                <li><a href="nurseries/table">認定保育園</a></li>
                <li><a href="nurseries/table">認証保育園</a></li>
                <li><a href="nurseries/table">認可外保育園</a></li>
                <li><a href="nurseries/special">一時保育</a></li>
                <li><a href="nurseries/table">その他</a></li>
              </ul>
          </div>
        </div>
        <div id="yjSub">
